.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 6rem;
  width: 90vw;
  white-space: pre-line;
}

.presentation {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block: 2rem;
}
.benefits {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 90vw;
  align-items: center;
  gap: 2rem;
}
.ambiances {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
  width: 100%;
}
.ambiance {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.ambiancePicture {
  position: relative;
  width: 100%;
  max-width: 500px;
  aspect-ratio: 16/10;
}
